.cart-page-items {
    background-color: white;
    padding-left: 15px;
    flex: 4;
    margin-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px
}
.cart-page-billing {
    padding-top: 10px;
    background-color: white;
    padding-left: 15px;
    flex: 1;
    min-width: 170px;
}
.cart-page {
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.cart-page-item {
    padding: 10px;
    border-bottom: 1px solid rgb(214, 212, 212);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-page-items-list {
    list-style-type: none;
    padding-right: 10px;
    padding-left: 0;
}

.cart-empty-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(207, 206, 206);
    margin: auto;
    padding: 40px
}
.cart-empty-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-page-product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-page-item-quantity {
    padding-right: 5px;
    padding-left: 5px
}

.cart-page-product-update-buttons {
    display: flex;
}

.cart-billing-container {
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%
}

.cart-item-button {
    height: 60%;
    width: 100%;
}


